body{
  background-image: url("https://media1.giphy.com/media/iF3M9gPPCdulq/giphy.gif");
  background-color: #cccccc;
  color: blue; 
}

h1,h2,h3,h4,h5,h6,p{
  background-color: white; 
}

.center{
  text-align: center;
}

.bigbtn{
  padding: 2rem;
  font-size: 1.5rem;
}